body {
	background-image: url(images/bg.jpg);
}

hr {
	margin-bottom: 10px;
}

.game-content{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.title-game{
		text-align: center;
		font-family: 'PT Sans Narrow', sans-serif;
}

.title-letter{
		border: none;
		border-radius: 10px 10px 10px 10px;
		text-align: center;
		color: white;
		background: linear-gradient(crimson, gold, yellowgreen, teal, crimson);
		background-position: 0 0;
		animation: background 24s infinite alternate;
}

@keyframes background {
	  100% {
	    background-position: 0 200px;
	  }
}

.button-keyboard:active{
		opacity: .3;
}

.button-keyboard:focus {
    outline: none;
}

/*Big screen*/
@media (min-width: 1090px){
	.title-letter{
		width: 30px;
		height: 40px;
		margin: 1px;
		font-size: 24px;
		padding: 20px;
	}

	@keyframes background {
	  100% {
	    background-position: 0 200px;
	  }
	}

	.tiles{
		float: left;
	}

	.tile{
		width: 64px;
		height: 64px;
		margin: 2px;
		border-radius: 10px 10px 10px 10px;
		display: inline-block;
		font-size: 50px;
		background-color: white;
		text-align: center;
		vertical-align: middle;
	}

	.keyboard{
		text-align: center;
		margin-top: 196px;
	}

	.button-keyboard{
		width: 50px;
		height: 70px;
		margin: 2px;
		font-size: 30px;
		border: none;
		background-color: white;
		border-radius: 10px 10px 10px 10px;
		text-align: center;
		vertical-align: middle;
	}

	#clear-button, #enter-button{
		width: 90px !important;
	}
}

/*Middle screen*/
@media (min-width: 539px) and (max-width: 1089px){
	.title-letter{
		width: 16px;
		height: 16px;
		margin: 1px;
		font-size: 18px;
		padding: 14px;
	}

	.tiles{
		text-align: center;		
	}

	.tile{
		width: 50px;
		height: 50px;
		margin: 2px;
		border-radius: 10px 10px 10px 10px;
		display: inline-block;
		font-size: 40px;
		background-color: white;
		text-align: center;
		vertical-align: middle;
	}

	.keyboard{
		text-align: center;
		margin-top: 10px;
	}

	.button-keyboard{
		width: 30px;
		height: 50px;
		margin: 2px;
		font-size: 20px;
		border: none;
		background-color: white;
		border-radius: 10px 10px 10px 10px;
		text-align: center;
		vertical-align: middle;
	}

	#clear-button, #enter-button{
		width: 80px !important;
	}
}

/*Small screen*/
@media (max-width: 538px){
	.title-letter{
		width: 20px;
		height: 20px;
		margin: 1px;
		font-size: 20px;
		padding: 16px;
	}

	.tiles{
		text-align: center;		
	}

	.tile{
		width: 40px;
		height: 40px;
		margin: 2px;
		border-radius: 10px 10px 10px 10px;
		display: inline-block;
		font-size: 34px;
		background-color: white;
		text-align: center;
		vertical-align: middle;
	}

	.keyboard{
		text-align: center;
		margin-top: 14px;
	}

	.button-keyboard{
		width: 22px;
		height: 42px;
		margin: 1px;
		font-size: 16px;
		border: none;
		background-color: white;
		border-radius: 8px 8px 8px 8px;
		text-align: center;
		vertical-align: middle;
	}

	#clear-button{
		width: 50px !important;
	}

	#enter-button{
		width: 200px !important;
	}
}