@media (min-width: 1090px){
	.keyboard{
		text-align: center;
		margin-top: 120px;
	}

	.button-keyboard{
		width: 50px;
		height: 70px;
		margin: 2px;
		font-size: 30px;
		border: none;
		background-color: white;
		border-radius: 10px 10px 10px 10px;
		text-align: center;
	}

	#enter-button{
		width: 200px !important;
		text-align: center;
		margin-left: 2%;
	}
}